<div class="content overflow">

    <%= render partial:"header"%>

<div class="wrap"> 
    <ul id="sidebar" class="sidebar">
        <h1 class="canal_titulo">Categorías</h1>

        <li class="first  current" style="margin-bottom:10px;">
            <%= getParentUrl(params[:tipo]) %>
        <ul class="sub_sidebar">
            <% @categories.each_with_index do |item, index| %>

            <li class=" <%= "first_channel" unless index == 0 %>" data-no-turbolink>
                 <% if item.tag == "guiriguirialaire" %>
                    <%= link_to item.name , guiri_path() %>
                    <% else %>
                    <%= link_to item.name , { controller: 'page' , action: :section , tipo: params[:tipo] , category: item.tag} %>
                  <% end %>  
            </li>
            <% end %>
       
        </ul>
        </li>
    </ul>

<section id="wrapper">
	
<div id="container" class="seccion">

    <%= render partial: "griditems" , locals: { archive: @archive}%>
</div>

</section>

</div>

</div>

<script type="text/javascript">
var count = 1;

$(window).scroll(function(event){
        event.preventDefault();
        if($(window).scrollTop() == $(document).height() - $(window).height()){
            console.log("Load more...");
                load_more();            
        }
    });
    
    function load_more(){

        var foo = 1;
        $.get("/loadmore_categoria/"+count+"/<%= @tipo%>/<%=@category %>",function(data){
            
            $("#container").append(data);

            do_on_load();
            setTimeout(repage , 300);
            //$("#paginaCanalCategoria").val(pagina+"/"+canal+"/"+categoria+"/"+tipo);
            count += 1;
        });
        //console.log(count);
    }
</script>