<% content_for :metaheader  do %>
    <meta property="og:title" content="Mediacenter El Gráfico - <%= @video.title%>"/>
        <meta property="og:description" content="Mediacenter El Gráfico <%= @video.title%>"/>
        <meta property="og:image" content="<%= @video.image%>"/>
        <meta property="og:url" content="http://mediacenter.elgrafico.com/v/<%= @video.slug_name%>"/>
<% end %>
<% content_for :headtitle  do %>
    <%= @video.title%>
<% end %>

<div class="content">

    <%= render partial:"header"%>


<div class="wrap">
    <div class="videop">
        <!-- video bightcove -->
        <% if @video.media_files[0].url_type == 'Y' %>
            <%= render partial: "ytplayer" , locals: { video_id: @video.media_files[0].url_file } %>
        <% elsif @video.media_files[0].url_type == 'B' %>        
            <%= render partial: "playerbrightcove" , locals: { video_id: @video.media_files[0].url_file } %>
        <% elsif @video.media_files[0].url_type == 'M' %>
            <%= render partial: "playerMVP" , locals: { video_id: @video.media_files[0].url_file } %>
        <% end %>
        <!-- end -->

    </div>
    <!-- End of Brightcove Player -->
    <div class="video_options">
        <a href="javascript:void(0)" onclick="detener()" class="skip_ad" style="displa:none"><span>Saltar Publicidad</span></a>
    </div>
    <div class="info">
    <h2><%= @video.title%></h2>
    <p id="tags_p">
    Tags: 
        <%=raw get_tags(@video.media_tag)%>
    </p>
    <span class='st_sharethis_hcount' displayText='ShareThis'></span>
    <span class='st_facebook_hcount' displayText='Facebook'></span>
    <span class='st_twitter_hcount' displayText='Tweet'></span>
    <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
    <span class='st_pinterest_hcount' displayText='Pinterest'></span>
    <span class='st_email_hcount' displayText='Email'></span>
    </div>
    <div class="clearfix"></div>
    <div class="azul">
    <div class="coments">
        <%= render partial: "disqus" %>
    </div>
    <div id="more">
    <div id="container">

            <%= render partial: "griditems" , locals: { archive: @related}%>
    </div>
    </div>


    </div>

</div>


</div>
